<!DOCTYPE html>
<html ng-app="docs">
  <head>
    <title ng-bind-template="{{ pageTitle ? pageTitle : appName }}">Teedy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="../api/theme/image/logo" />
    <link rel="manifest" href="manifest.json" />
    <!-- ref:css style/style.min.css?@build.date@ -->
    <link rel="stylesheet" href="style/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style/fontawesome.css" type="text/css" />
    <link rel="stylesheet" href="style/colorpicker.css" type="text/css" />
    <link rel="stylesheet" href="style/pell.css" type="text/css" />
    <link rel="stylesheet" href="style/ng-onboarding.css" type="text/css" />
    <link rel="stylesheet/less" href="style/main.less" type="text/css" />
    <!-- endref -->
    <link rel="stylesheet" href="../api/theme/stylesheet" type="text/css" id="theme-stylesheet" />
    <!-- ref:remove -->
    <script>
      less = {
        env: 'development', // or "production"
        async: false,       // load imports async
        fileAsync: false,   // load imports async when in a page under a file protocol
        poll: 1000,         // when in watch mode, time in ms between polls
        dumpLineNumbers: 'all' // or "mediaQuery" or "comments"
      };
    </script>
    <!-- endref -->
    <!-- ref:js docs.min.js?@build.date@ -->
    <script src="lib/jquery.js" type="text/javascript"></script>
    <script src="lib/jquery.ui.js" type="text/javascript"></script>
    <script src="lib/less.js" type="text/javascript"></script>
    <script src="lib/underscore.js" type="text/javascript"></script>
    <script src="lib/colorpicker.js" type="text/javascript"></script>
    <script src="lib/pell.js" type="text/javascript"></script>
    <script src="lib/angular.js" type="text/javascript"></script>
    <script src="lib/angular.translate.js" type="text/javascript"></script>
    <script src="lib/angular.sanitize.js" type="text/javascript"></script>
    <script src="lib/angular.touch.js" type="text/javascript"></script>
    <script src="lib/angular.tmhDynamicLocale.js" type="text/javascript"></script>
    <script src="lib/angular.ui-router.js" type="text/javascript"></script>
    <script src="lib/angular.ui-bootstrap.js" type="text/javascript"></script>
    <script src="lib/angular.ui-sortable.js" type="text/javascript"></script>
    <script src="lib/angular.ui-validate.js" type="text/javascript"></script>
    <script src="lib/angular.restangular.js" type="text/javascript"></script>
    <script src="lib/angular.colorpicker.js" type="text/javascript"></script>
    <script src="lib/angular.file-upload.js" type="text/javascript"></script>
    <script src="lib/angular.ngprogress.js" type="text/javascript"></script>
    <script src="lib/angular.qrcode.js" type="text/javascript"></script>
    <script src="lib/angular.timeago.js" type="text/javascript"></script>
    <script src="lib/angular.ng-onboarding.js" type="text/javascript"></script>
    <script src="app/docs/app.js" type="text/javascript"></script>
    <script src="app/docs/controller/Login.js" type="text/javascript"></script>
    <script src="app/docs/controller/Main.js" type="text/javascript"></script>
    <script src="app/docs/controller/ModalPasswordLost.js" type="text/javascript"></script>
    <script src="app/docs/controller/ModalFeedback.js" type="text/javascript"></script>
    <script src="app/docs/controller/ModalImport.js" type="text/javascript"></script>
    <script src="app/docs/controller/PasswordReset.js" type="text/javascript"></script>
    <script src="app/docs/controller/Navigation.js" type="text/javascript"></script>
    <script src="app/docs/controller/Footer.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/Document.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentDefault.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentEdit.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentView.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentViewContent.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentViewWorkflow.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentViewPermissions.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentViewActivity.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentModalShare.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentModalPdf.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/DocumentModalAddTag.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/FileView.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/FileModalView.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/FileRename.js" type="text/javascript"></script>
    <script src="app/docs/controller/document/ModalFileVersions.js" type="text/javascript"></script>
    <script src="app/docs/controller/tag/Tag.js" type="text/javascript"></script>
    <script src="app/docs/controller/tag/TagEdit.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/Settings.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsDefault.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsAccount.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsConfig.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsInbox.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsSecurity.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsSecurityModalDisableTotp.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsSession.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsMonitoring.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsWorkflow.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsWorkflowEdit.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsUser.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsUserEdit.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsGroup.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsGroupEdit.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsVocabulary.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsMetadata.js" type="text/javascript"></script>
    <script src="app/docs/controller/settings/SettingsLdap.js" type="text/javascript"></script>
    <script src="app/docs/controller/usergroup/UserGroup.js" type="text/javascript"></script>
    <script src="app/docs/controller/usergroup/UserProfile.js" type="text/javascript"></script>
    <script src="app/docs/controller/usergroup/GroupProfile.js" type="text/javascript"></script>
    <script src="app/docs/service/User.js" type="text/javascript"></script>
    <script src="app/docs/filter/Filesize.js" type="text/javascript"></script>
    <script src="app/docs/directive/SelectTag.js" type="text/javascript"></script>
    <script src="app/docs/directive/SelectRelation.js" type="text/javascript"></script>
    <script src="app/docs/directive/AuditLog.js" type="text/javascript"></script>
    <script src="app/docs/directive/ImgError.js" type="text/javascript"></script>
    <script src="app/docs/directive/Acl.js" type="text/javascript"></script>
    <script src="app/docs/directive/AclEdit.js" type="text/javascript"></script>
    <script src="app/docs/directive/Pell.js" type="text/javascript"></script>
    <script src="app/docs/directive/AddSpaceBetween.js" type="text/javascript"></script>
    <script src="app/docs/directive/InvertTextColor.js" type="text/javascript"></script>
    <!-- endref -->
  </head>
  <body translate-cloak ng-cloak style="display: flex; min-height: 100vh;">
  <!-- 侧边导航栏 -->
  <aside style="width: 260px; background: #2f3542; padding: 25px; position: fixed; height: 100%;">
    <!-- 品牌标识 -->
    <div class="brand" style="margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #404859;">
      <a href="#" style="display: flex; align-items: center; text-decoration: none;">
        <span ng-if="appName == 'Teedy'" style="font-size: 24px; color: #4bcffa; font-weight: 300;">teedy</span>
        <span ng-if="appName != 'Teedy'" style="font-size: 20px; color: #a4b0be;">{{ appName }}</span>
      </a>
    </div>

    <!-- 主菜单 -->
    <nav ng-controller="Navigation" style="margin-bottom: 30px;">
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li style="margin-bottom: 8px;">
          <a href="#/document" 
             style="display: flex; 
                    align-items: center;
                    padding: 12px 20px;
                    color: #dfe4ea;
                    border-radius: 8px;
                    transition: all 0.2s;
                    text-decoration: none;"
             ui-sref-active="{ 'menu-active': 'document.**' }"
             hover-style="background: #3d4a5c;">
            <span class="fas fa-book" style="width: 25px; font-size: 16px;"></span>
            {{ 'index.nav_documents' | translate }}
          </a>
        </li>
        <li style="margin-bottom: 8px;">
          <a href="#/tag" 
             style="display: flex; 
                    align-items: center;
                    padding: 12px 20px;
                    color: #dfe4ea;
                    border-radius: 8px;
                    transition: all 0.2s;
                    text-decoration: none;"
             ui-sref-active="{ 'menu-active': 'tag.**' }"
             hover-style="background: #3d4a5c;">
            <span class="fas fa-tags" style="width: 25px; font-size: 16px;"></span>
            {{ 'index.nav_tags' | translate }}
          </a>
        </li>
        <li style="margin-bottom: 8px;">
          <a href="#/user" 
             style="display: flex; 
                    align-items: center;
                    padding: 12px 20px;
                    color: #dfe4ea;
                    border-radius: 8px;
                    transition: all 0.2s;
                    text-decoration: none;"
             ui-sref-active="{ 'menu-active': 'user.**', 'menu-active2': 'group.**' }"
             hover-style="background: #3d4a5c;">
            <span class="fas fa-users" style="width: 25px; font-size: 16px;"></span>
            {{ 'index.nav_users_groups' | translate }}
          </a>
        </li>
      </ul>
    </nav>

    <!-- 用户面板 -->
    <div style="position: absolute; bottom: 0; left: 0; right: 0; padding: 25px; background: #262b35;">
      <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <div style="flex: 1;">
          <div style="color: #f1f2f6; font-size: 14px; margin-bottom: 2px;">
            <span class="fas fa-user" style="margin-right: 8px;"></span>
            {{ userInfo.username }}
          </div>
          <div style="font-size: 12px; color: #747d8c;">
            {{ 'index.logged_as' | translate:{ username: userInfo.username } }}
          </div>
        </div>
      </div>

      <div style="display: grid; gap: 8px;">
        <a ng-show="userInfo.username != 'guest'"
           href="#/settings/account" 
           style="display: flex;
                  align-items: center;
                  padding: 10px 15px;
                  background: rgba(255,255,255,0.1);
                  color: #a4b0be;
                  border-radius: 6px;
                  text-decoration: none;
                  transition: all 0.2s;"
           hover-style="background: #4bcffa; color: white;">
          <span class="fas fa-cog" style="margin-right: 10px;"></span>
          {{ 'index.nav_settings' | translate }}
        </a>
        
        <a href="#" 
           ng-click="logout($event)"
           style="display: flex;
                  align-items: center;
                  padding: 10px 15px;
                  background: #ff6b6b;
                  color: white;
                  border-radius: 6px;
                  text-decoration: none;
                  transition: all 0.2s;"
           hover-style="background: #ff5252;">
          <span class="fas fa-sign-out-alt" style="margin-right: 10px;"></span>
          {{ 'index.logout' | translate }}
        </a>
      </div>
    </div>
  </aside>

  <!-- 主内容区 -->
  <main style="flex: 1; margin-left: 260px; padding: 40px 30px; background: #f8f9fa; min-height: 100vh;">
    <onboarding-popover ng-if="onboardingEnabled" enabled="onboardingEnabled" steps="onboardingSteps"></onboarding-popover>

    <!-- 页面内容 -->
    <div ui-view="page" style="background: white; border-radius: 12px; padding: 30px; box-shadow: 0 5px 20px rgba(0,0,0,0.03);"></div>

    <!-- 页脚 -->
    <!-- 修改后的页脚部分 -->
<footer ng-controller="Footer" style="margin-top: 40px; padding-top: 30px; border-top: 1px solid #e9ecef;">
  <div class="alert alert-danger" 
       ng-show="app.global_storage_quota && app.global_storage_quota * 0.8 < app.global_storage_current"
       style="border-radius: 8px; border: none;"
       translate="index.global_quota_warning"
       translate-values="{ current: app.global_storage_current / 1000000, percent: app.global_storage_current / app.global_storage_quota * 100, total: app.global_storage_quota / 1000000 }">
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center; color: #6c757d; font-size: 14px;">
    <div style="display: flex; align-items: center; gap: 15px;">
      <span translate="document.default.footer_sismics"></span>
      <a href="apidoc/" style="color: #4bcffa; text-decoration: none;">
        {{ 'document.default.api_documentation' | translate }}
      </a>
    </div>

    <div style="display: flex; align-items: center; gap: 15px;">
      <!-- 横向语言按钮 -->
      <div style="display: flex; gap: 8px; flex-wrap: wrap;">
        <button ng-repeat="lang in ['en','fr','de','it','es','pt','el','ru','pl','zh_CN','zh_TW','sq_AL']"
                ng-click="changeLanguage(lang)"
                style="padding: 6px 12px;
                       border: 1px solid #dee2e6;
                       border-radius: 18px;
                       background: {{ currentLang === lang ? '#4bcffa' : 'transparent' }};
                       color: {{ currentLang === lang ? 'white' : '#495057' }};
                       transition: all 0.2s;
                       cursor: pointer;
                       font-size: 13px;
                       white-space: nowrap;"
                hover-style="border-color: #4bcffa;">
          <span ng-switch="lang">
            <span ng-switch-when="en">EN</span>
            <span ng-switch-when="fr">FR</span>
            <span ng-switch-when="de">DE</span>
            <span ng-switch-when="it">IT</span>
            <span ng-switch-when="es">ES</span>
            <span ng-switch-when="pt">PT</span>
            <span ng-switch-when="el">EL</span>
            <span ng-switch-when="ru">RU</span>
            <span ng-switch-when="pl">PL</span>
            <span ng-switch-when="zh_CN">简中</span>
            <span ng-switch-when="zh_TW">繁中</span>
            <span ng-switch-when="sq_AL">SQ</span>
          </span>
        </button>
      </div>

      <div style="color: #868e96; font-size: 13px;">
        v{{ app.current_version }}
      </div>
    </div>
  </div>
</footer>
  </main>
</body>
</html>